{% extends "_shared/templates/default.njk" %}

{% block content %}
  <div class="loading">
    🧠
  </div>
  <header>
    <img src="/img/logo.png" alt="Amigo Secreto" />
  </header>
  <section id="welcome">
    <h2>Paso 1: Elige tu nombre</h2>
    <ul></ul>
  </section>
  <section id="select_persona">
    <h2>Paso 2: Elige un papelito</h2>
    <ul>
      <li>
        <a href="">AMIGO SECRETO</a>
      </li>
      <li>
        <a href="">AMIGO SECRETO</a>
      </li>
    </ul>
  </section>
  <section id="finish">
    <h2>¡Mantenlo en secreto!</h2>
    <ul>
      <li class="active">
        <a href="">JOSE DANIEL</a>
      </li>
      <li class="placeholder">
        <a href="">AMIGO SECRETO</a>
      </li>
    </ul>

    <a class="action ocultar active" onClick="_app.ocultar(event)">Ocultar</a>
    <a class="action mostrar" onClick="_app.mostrar(event)">Mostrar</a>

  </section>
  <footer>
    <p>Valor del regalo: $20k. Entrega de regalos: sábado 26 de septiembre 3pm.</p>

    {% if test === 'test'  %}
      <p style="color:red">
        Modo de pruebas.
      </p>
      <script>
        delete localStorage.current_persona;
        delete localStorage.elected_persona;
      </script>
    {% endif %}
  </footer>
{% endblock %}
